<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<bean id="userServiceImpl" class="com.itheima.store.service.impl.UserServiceImpl" />
	<bean id="productServiceImpl" class="com.itheima.store.service.impl.ProductServiceImpl" />
	<bean id="categoryServiceImpl" class="com.itheima.store.service.impl.CategoryServiceImpl" />
	<bean id="ordersService" class="com.itheima.store.service.impl.OrdersServiceImpl" />
	<bean id="orderItemService" class="com.itheima.store.service.impl.OrderItemServiceImpl" />
	
	<bean id="userDaoImpl" class="com.itheima.store.dao.impl.UserDaoImpl" />
	<bean id="productDaoImpl" class="com.itheima.store.dao.impl.ProductDaoImpl" />
	<bean id="categoryDaoImpl" class="com.itheima.store.dao.impl.CategoryDaoImpl" />
	<bean id="ordersDao" class="com.itheima.store.dao.impl.OrdersDaoImpl" />
	<bean id="orderItemDao" class="com.itheima.store.dao.impl.OrderItemDaoImpl" />
</beans>