<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>webday14</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>username</param-name>
    <param-value>fanxh</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>ReadFileServlet</display-name>
    <servlet-name>ReadFileServlet</servlet-name>
    <servlet-class>com.itheima.servlet.ReadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadFileServlet</servlet-name>
    <url-pattern>/ReadFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HtmlFileLoadServlet</display-name>
    <servlet-name>HtmlFileLoadServlet</servlet-name>
    <servlet-class>com.itheima.servlet.HtmlFileLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HtmlFileLoadServlet</servlet-name>
    <url-pattern>/HtmlFileLoadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileLoadServlet</display-name>
    <servlet-name>FileLoadServlet</servlet-name>
    <servlet-class>com.itheima.servlet.FileLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileLoadServlet</servlet-name>
    <url-pattern>/FileLoadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.itheima.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.itheima.servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OutPrintServlet</display-name>
    <servlet-name>OutPrintServlet</servlet-name>
    <servlet-class>com.itheima.servlet.OutPrintServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutPrintServlet</servlet-name>
    <url-pattern>/OutPrintServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMatorMessageServlet</display-name>
    <servlet-name>GetMatorMessageServlet</servlet-name>
    <servlet-class>com.itheima.servlet.GetMatorMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMatorMessageServlet</servlet-name>
    <url-pattern>/GetMatorMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAndPostServlet</display-name>
    <servlet-name>GetAndPostServlet</servlet-name>
    <servlet-class>com.itheima.servlet.GetAndPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAndPostServlet</servlet-name>
    <url-pattern>/GetAndPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForwardServlet</display-name>
    <servlet-name>ForwardServlet</servlet-name>
    <servlet-class>com.itheima.forward.ForwardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardServlet</servlet-name>
    <url-pattern>/ForwardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForwardServlet2</display-name>
    <servlet-name>ForwardServlet2</servlet-name>
    <servlet-class>com.itheima.forward.ForwardServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardServlet2</servlet-name>
    <url-pattern>/ForwardServlet2</url-pattern>
  </servlet-mapping>
</web-app>